.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;

  img {
    max-width: 40%;
  }

  .wrapper {
    border-radius: 5px;
    padding: 0.5rem;
  }

  &.inverse {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 800px) {
  .container {
    flex-wrap: nowrap;

    .wrapper {
      min-width: 15rem;
    }
  }
}
